<body class="content">
    <h1>Izaicinājumi</h1>
    <div class="centerDiv">
        <div class="introText">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
            <div>
                <p>
                    Šī ceļa laikā ir bijuši daudzi izaicinājumi... Varu saderēt, ka vairumam studentu ceļš uz LU nebija vienkāršs un viegls. 
                </p>
                <br>
                <p>
                    Veselības ziņā arī esmu saskāries ar daudziem izaicinājumiem. 
                    Kā divi galvenie pavērsieni bērnībā ir muguras applaucēšana un zobu nepareizā augšana. 
                    Tagad jau esmu pie tā pieradis, bet šīs vizuālās īpatnības lika man pārdomāt iespēju kļūt par aktieri, kas kādreiz bija mans lielākais sapnis. 
                    Īsi pirms vidusskolas beigšanas biju ieinteresēts mūzikā. 
                    Diemžēl savas kļūdas dēļ nošķēlu labās rokas rādītājpirksta galu. 
                    Tagad vairs to neuzskatu par neko tik traku un jau esmu pieradis. 
                    Īstenībā, tas mani neatturēja kļūt par mūziķi. 
                    Bet pārdomu  laikā šīs problēmas mani pievērsa citām karjeras kāpnēm.
                </p>
                <br>
                <p>
                    Emocionālās veselības ziņā jāatdzīst, ka mana bērnība nav bijusi pilnībā mierīga. Tomēr mani balsti ir palīdzējuši man to saturēt kopā.
                </p>
                <br>
                <p>
                    Es nāku no lauku apvidus, kas ir aptuveni trīssimt kilometru attālumā no Rīgas. 
                    Uzsākot studijas bija sācies nelabi slavenais Covid-19 laiks. 
                    Tāpēc dzīvošana prom no mājām sākās par gadu vēlāk nekā paredzēts. 
                    Tas bija interesants izaicinājums tādā ziņā, ka bija ļoti jātrenē savs ikdenas ritms un mācīšanās gaita. 
                    Protams, šajā gadījumā bija arī daudzi pozitīvu aspektu, piemēram lekciju ieraksti.
                </p>
            </div>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="centerDiv">
        <div class="portraitContainer">
            <img class="facultyPicture" src="challanges.png" alt="Vīrietis kalnā stumj akmeni" title="Vīrietis kalnā stumj akmeni">
        </div>
    </div>
</body>

