<head>
    <title>Kursi</title>
</head>
<body class="content">
    <h1>Kursi</h1>
    <div class="centerDiv">
        <div class="introText">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
            <div>
                <p>
                    Es, kā students, esmu izturējis piecus studiju semestrus. 
                    Studiju laikā esmu izgājis trīsdesmit kursus. 
                    Atskatā ir grūti noticēt, ka to ir tik daudz.  
                    Vairumu kursu esmu izgājis bez īpašām grūtībām. 
                    Protams, bija daži kursi, kuri radīja problēmas un pieprasīja dažas negulētas naktis… 
                    Bet kā redzams līdz šim visam esmu spējis iziet cauri. 
                    Cerams šajā semestrī tam pievienosies vēl 7 kursi, ieskaitot šīs mājaslapas galveno motivatoru, "Tīmekļa dizaina pamatus".
                </p>
                <br>
                <p>
                    Man personīgi visvairāk patika tieši matemātikas kursi, kas nav nemaz tik pārsteidzoši. 
                    Datorika un matemātika ir cieši sasaistīta. 
                    Mani mīļākie kursi ir "Formālās gramatikas" un "Automātu teorija". 
                    "Formālās gramatikas" ir kurss, kuru gribētos atkārtot. 
                    Pārsvarā tas saistās ar kursa ātro tempu un aizraujošo tematiku.
                </p>
            </div>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="centerDiv">
        <div class="portraitContainer">
            <img class="facultyPicture" src="coursePole.png" alt="Stabs ar norādēm uz dažādiem semestriem" title="Stabs ar norādēm uz dažādiem semestriem">
        </div>
    </div>
</body>

