<body class="content">
    <h1>Datorikas fakultāte DF</h1>
    <div class="centerDiv">
        <div class="introText">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
            <div>
                <p>
                    Datorikas fakultāte ir daļa no Latvijas Universitātes. Tās atrašanās vieta ir Raiņa Bulvāris 19, Rīga. Tā ir skaista ēka Rīgas centrā.
                    Protams kā jau daudzām vecām ēkām, tai ir arī savas īpanības, kas īpaši izceļas savādās auditorijās. 
                    Fakultātei ir arī sava mājaslapa, kuru var apskatīt:</p> <a class="navLink" href="https://www.df.lu.lv/"><p>Dodamies uz DF mājaslapu!</p></a>
                    <p>Personīgi to izmantoju sesijas un lekciju grafikiem, bet tajā arī ir daudz citas noderīgas informācijas, it īpaši, ja apsver domu studēt DF.
                </p>
                <br>
                <p>
                    Tā kā studijas uzsāku Covid-19 pandēmijas gados, tad pašā fakultātē esmu pavadījis mazāk par pusi no sava studiju laika. 
                    Tomēr, jāatzīst, ka pie Datorikas fakultātes pieradu ātri. 
                    Datorikas studentam ir jāzina tikai 3. stāva izkārtojums, jo lekcijas gandrīz nekur citur nenotiek. 
                    Fakultāte kā mācību iestāde līdz šim man nav likusi vilties. 
                    Protams it daudz aspektu, kurus var uzlabot. Un tomēr ir sajūta, ka kaut kas tiešām tiek iemācīts un izskatīts. 
                    Tāpēc vēlos aicināt arī tevi doties uz Datorikas fakultāti!
                </p>
            </div>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="centerDiv">
        <div class="portraitContainer">
            <img class="facultyPicture" src="DFLogo.png" alt="Melnbalts DF Logo" title="Melnbalts DF Logo">
        </div>
    </div>
</body>

