<body class="content">
    <h1>Zināšanas</h1>
    <div class="centerDiv">
        <div class="introText">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
            <div>
                <p>
                    Zināšanas... zināšanas... kā gan tās visas var aprkastīt? 
                    Manuprāt, visvieglāk to ir izdarīt apskatot jau paveikto.
                    Cauri visam šim ceļa laikam esmu ieguvis Vidusskolas līmeņa pamatzināšanas, jo spēju teicami pabeigt vidusskolu.
                    Esmu ieguvis Programmēšanas pamatzināšanas iegūstot Latvijas Universitātes Datorzinātņu pirmā līmeņa profesionālo diplomu. 
                    Esmu arī ieguvis apdrošināšanas jomas zināšanas savā darba vietā CGI.
                </p>
                <br>
                <p>
                    Bet, ja man tās jāmēģina aprakstīt ar vārdiem, tad… 
                    Kopš ceļa uzsākšanas esmu iemācījies programmēt izmantojot dažādas valodas, piemēram C++, Python, JavaScript. 
                    Tagad māku arī māku izveidot mājaslapas, datubāzes, veidot dokumentāciju un efektīvi komunicēt ar citiem profesionāļiem Datorzinātņu jomā.
                </p>
                <br>
                <p>
                    Jāatdzīst, ka šo zināšanu apguve nevienmēr ir bijusi viegla. Grūtākais ir tas, ka zināšanu paliek ar vien vairāk, tāpēc ir konstanti jāstrādā pie tā, lai neaizmirstu vecās. 
                    Kā vēsta senais teiciens “Atkārtošana ir zināšanu māte.”
                </p>
            </div>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                <defs>
                <linearGradient id="SvgjsLinearGradient1003">
                    <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                    <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="centerDiv">
        <div class="portraitContainer">
            <img class="facultyPicture" src="knowledge.png" alt="Seja, kurai apkārt stāv atvērtas grāmatas" title="Seja, kurai apkārt stāv atvērtas grāmatas">
        </div>
    </div>
</body>

