<body class="content">
    <div class="intro">
        <h1>Mans ceļš uz Latvijas Universitāti</h1>
        <div class="centerDiv">
            <div class="introText">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                    <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                    <defs>
                    <linearGradient id="SvgjsLinearGradient1003">
                        <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                        <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                    </linearGradient>
                    </defs>
                </svg>
                <div>
                    <p>
                        Kas tavuprāt ir ceļš uz Latvijas Universitāti (LU)? Vai tas ir fiziskais ceļš, ko jāmēro no Latvijas Universitātes līdz savām mājām un atpakaļ? 
                        Varbūt tas ir emocinālais pārdzīvojums līdz nonāci līdz lēmumam – Jāstudē Latvijas Universitātē! 
                        Vai arī tas saistās ar ikdienu, jo ceļš nav galā līdz diploms nav rokā! 
                        Kaut gan mums katram ir savs sākumpunkts un vīzija, tomēr Universitāte vienmēr ir šī ceļa galapunkts.
                    </p>
                    <br>
                    <p>
                        Man tas ir gan ieriekš piedzīvotais, gan pašlaik mērojamais ceļš. 
                        Tas aptver visu manu universitātes pieredzi. 
                        To var saukt par manu dzīves līkloču atskaiti. 
                        Kā ne kā Bakalaura diploms jau ir tepat aiz 3 lieliem kalniem – sestais, septītais un astotais semestris. 
                        Esmu izveidojis šo mājaslapu, lai arī tu varētu iepazīt manu ceļu uz LU! 
                        Protams, mazs iemesls mājaslapas izveidei bija arī kurss “Tīmekļa dizaina pamati." 
                        Bet, pirms dodamies tālāk, vēlos mazliet iepazīstināt ar sevi un ar saviem balstiem. 
                    </p>
                </div>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                    <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                    <defs>
                    <linearGradient id="SvgjsLinearGradient1003">
                        <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                        <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="centerDiv">
            <div class="portraitContainer">
                <img class="selfPicture" src="me.jpeg" alt="Vīrietis sēž dīvānā un virs muter tur viltus ūsas" title="Kristians Plots Jaunvides pasākumā">
                <div class="portraitText">
                    <div class="backdrop">
                        <h2>Kristians Plots</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="centerDiv">
            <div class="structs">
                <h3>Mani balsti</h3>
                <div class="profileCardsDiv">
                    <app-card [name]="'Niks Plots'" [subtitle]="'Brālis'" [description]="'Labs draugs!'" class="leftCard"></app-card>
                    <app-card [name]="'Kristīne Plote'" [subtitle]="'Mamma'" [description]="'Labākā māte kādu cilvēks varētu vēlēties!'" class="middleCard"></app-card>
                    <app-card [name]="'Pūciņa'" [subtitle]="'Kaķene'" [description]="'Skaista un piemīlīga! Varena ņaudētāja!'" class="rightCard"></app-card>
                </div>
            </div>
        </div>
    </div>
</body>
