<head>
    <title>Ceļš</title>
</head>
<body class="content">
    <h1>Ceļš</h1>
    <mat-tab-group>
        <mat-tab class="mainColor" label="Fiziskais">
            <div class="centerDiv margin2rem">
                <div class="introText">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                        <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                        <defs>
                        <linearGradient id="SvgjsLinearGradient1003">
                            <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                            <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                        </linearGradient>
                        </defs>
                    </svg>
                    <div>
                        <p>
                            Fiziskajam ceļam es varu izvēlēties divus ceļus. Viens ceļš ir no universitātes līdz kopmītnēm. Otrs ir no manas lauku dzīvesvietas
                            līdz universitātei. Par mājām saucu tikai savu lauku dzīvokli. Nu... praktiski tas jau nemaz nav mans. Kā rakstīts populārā 
                            latviešu dziesmā "Dzīvoju pie mammas." Šī apsvēruma dēļ fokusēšos tieši uz attālumu no lauku dzīvokļa līdz universitātei.
                        </p>
                        <br>
                        <p>
                            Mans lauku dzīvoklis atrodas Latgalē, tagadējā Preiļu novadā. Parasti, lai nokļūtu līdz Rīgai ar sabiedrisko transportu, ir 
                            jāceļas pus četros no rīta. Pēc tam ir jāpavada apmēram trīs ar pus stundas ceļā... Protams, ka tas ir atkarīgs no izvēlētā 
                            transporta. Šo ceļojumu es parasti veicu reizi nedēļā. 
                            Pēdējā gada laikā jau esmu pie tā pieradis. Ja uz Rīgu brauktu ar mašīnu, tad katru reizi nobrauktu vismaz divsimt divus kilometrus.
                        </p>
                    </div>
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                        <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                        <defs>
                        <linearGradient id="SvgjsLinearGradient1003">
                            <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                            <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="centerDiv">
                <div class="portraitContainer">
                    <img class="facultyPicture" src="physicalRoad.png" alt="Latvijas kontūra ar atzīmētu Rīgu un Preiļu novadu" title="Latvijas kontūra ar atzīmētu Rīgu un Preiļu novadu">
                </div>
            </div>
        </mat-tab>
        <mat-tab class="mainColor" label="Emocionālais">
            <div class="centerDiv margin2rem">
                <div class="introText">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none">
                        <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                        <defs>
                        <linearGradient id="SvgjsLinearGradient1003">
                            <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                            <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                        </linearGradient>
                        </defs>
                    </svg>
                    <div>
                        <p>
                            Emocionālais ceļš man visvairāk saistās ar jautājumu: "Kāpēc es studēju?"
                            Līdz vidusskolas beigām nebiju pārliecināts var tiešām došos programmētāja soļos.
                            Tā bija tikai viena no daudzajām iespējām... Manā ģimenē nevienam nav augstākās izglītības diplomu.
                            Teorētiski, tagad esmu izņēmums, jo man ir 1. līmeņa diploms, taču tas nav tas pats, kas bakalaura diploms.
                        </p>
                        <br>
                        <p>
                            Ceļš līdz LU ir bijis emociju viesulis... Es neesmu piedzīvojis ļoti daudz un, tomēr, es neesmu 
                            arī pavadījis šo laiku mierīgi. Kā jau daudzus jauniešus, mani nomoka vairāki jautājumi par dzīvi, par nezināmo...
                            Dažādas veselības problēmas arī nav ļāvušas vienmēr justies droši. Bet nu kuram gan veselība to ļauj?
                        </p>
                    </div>
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 200 400" preserveAspectRatio="none" class="lastSVG">
                        <path d="M203.13904328197043 5.38116581530862C195.5157217487673 52.765322519257595 189.38716136465268 226.00897549879045 157.39911408275168 289.6861060390025C125.41106680085068 353.36323657921446 35.575485339262116 371.1509752203176 11.21075959056418 387.4439490565806 " fill="none" stroke-width="4rem" stroke="hsl(27.07, 85.42%, 81.18%)" stroke-linecap="round"></path>
                        <defs>
                        <linearGradient id="SvgjsLinearGradient1003">
                            <stop stop-color="hsl(27.07, 85.42%, 81.18%)" offset="0"></stop>
                            <stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="centerDiv">
                <div class="portraitContainer">
                    <img class="facultyPicture" src="emotional.png" alt="Seja ar sviedriem uz kuru norāda 4 plaukstas" title="Seja ar sviedriem uz kuru norāda 4 plaukstas">
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</body>

